<p>note-list-page works!</p>
<div>
    <ul>
        <li>
            <a routerLink="/note-list/1">note 1</a>
        </li>
        <li>
            <a routerLink="/note-list/2">note 2</a>
        </li>
        <li>
            <a routerLink="/note-list/3">note 3</a>
        </li>
        
    </ul>
    <div class="container ">
        <div class="row ">
            <div class="col border border-danger  m-md-2">
                <router-outlet></router-outlet>
            </div>
            <div class="col border border-info  m-md-2">
              ...
            </div>
          </div>
    </div>
</div>