<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Todo App</strong>
            </a>
            <ul class="navbar navbar-expand-lg ">
                <li class="nav-item ">
                    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}" routerLink="/">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLinkActive="active"  routerLink="login">Login</a>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link" routerLinkActive="active" routerLink="/todos">Todos</a>
                </li>
              
                 <li class="nav-item">
                    <a class="nav-link " routerLinkActive="active" routerLink="/note-list">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLinkActive="active" routerLink="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</header>

  